<div class="postView">
  <ul>
    <li class="post">
     
      <div class="title"><a href="<%= @post.link %>" target="_blank"><%= @post.title %></a>
      </div>
  <% image = LinkThumbnailer.generate(@post.link) %>
      <div class="preview">
        <a href="<%= @post.link %>"><img src="<%= image.images.first %>"/></a>
      </div>
      
      <div class="userinfo">
      <% user = User.find_by(id: @post.user_id) %>
       <span>
         Submitted <%= distance_of_time_in_words @post.created_at, DateTime.now %> ago by <%=
         user.username %>
       </span>
      </div>
     
      <div class="commentcount">
        <% if @post.comments.find_by(post_id: @post.id) %>
          <% if @post.comments.count(post_id: @post.id) == 1 %>
            <%= link_to "1 Comment", comments_path(@post) %>
          <% else %>
           <%= link_to "#{@post.comments.count(post_id: @post.id)} Comments", comments_path(@post)%>
          <% end %>
        <% else %>
        <%= link_to "0 Comments", comments_path(@post) %>
        <% end %>
      </div>
    </li>
  </ul>
</div>

<div class="fullcommentindex">
  <ul>
    <% @post.comments.each do |comment| %>
    <li class=“comment”>
      <div class=“commentbody”> <%= simple_format(comment.body) %> </div>
      <div class=“commentauthor”> 
        <span><em>
          Submitted <%= distance_of_time_in_words @post.created_at, DateTime.now %> ago by <%= user.username %>
        </em></span>
      </div>
      <div class="comment-update">
        <span>
          <% if current_user && current_user.comments.find_by(id: comment.id) %>
              <%= link_to "Edit Comment", comment_edit_path(comment) %>
          <% end %>
        </span>
      </div>
      <div class="comment-delete">
        <span>
          <% if current_user && current_user.comments.find_by(id: comment.id) %>
              <%= link_to "Delete Comment", comment_update_path(comment), method: :delete %>
          <% end %>
        </span>
      </div>
      </li>
      <% end %>
  </ul>
</div>

  <div class="commentBox">
  <% if current_user %>
  <div class="commentBoxcontent">
    <h3>Add Comment</h3>

      <%= form_tag(comments_path(@post)) do %>
    
        <div class="comment_body"> 
          <%=label_tag "Body: " %>
          <%= text_field_tag :body %>
        </div>
          <%= submit_tag "Add Comment" %>
      <% end %>
      </div>
      <% else %>
      <h3> <%= link_to "Signup", signup_path %> or <%= link_to "Login", login_path %> to post a comment. </h3>
      <% end %>
  </div>

</div>