<div class="posts-nav-t">
  <span><%= paginate @posts %></span>
  <% if current_user %>
<div id="animated-example" class="animated pulse">
  <div class="button"><%= link_to "Add a new Post", post_new_path %></div>
</div>
<% end %>
</div>


<ul class="posts">
    <% @posts.each do |post| %>
        <li class="post">
          <div class="title"><a href="<%= post.link %>" target="_blank"><%= post.title %></a></div>

          <div class="preview">
          <!-- <% image = LinkThumbnailer.generate(post.link) %>
            <a href="<%= post.link %>"><img src="<%= image.images.first %>"/></a>-->
            <a href="<%= post.link %>"><img src="http://sd.keepcalm-o-matic.co.uk/i/keep-calm-this-is-a-placeholder-1.png"/></a>
          </div>

          <div class="userinfo">
              <% user = User.find_by(id: post.user_id) %>
              <span>
                Submitted <%= distance_of_time_in_words post.created_at, DateTime.now %> ago by <%= user.username %>
              </span>
            </div>
          
          <div class="commentcount">
            <% if post.comments.find_by(post_id: post.id) %>
              <% if post.comments.count(post_id: post.id) == 1 %>
                <%= link_to "1 Comment", comments_path(post) %>
              <% else %>
               <%= link_to "#{post.comments.count(post_id: post.id)} Comments", comments_path(post) %>
              <% end %>
            <% else %>
            <%= link_to "0 Comments", comments_path(post) %>
            <% end %>
          </div>
        
            <% if current_user && current_user.posts.find_by(id: post.id) %>
                <div class="editpost"><%= link_to "Edit", edit_path(post) %></div>
            <% end %>
            <% if current_user && current_user.posts.find_by(id: post.id) %>
                <div class="deletepost"><%= link_to "Delete", post_path(post),
                method: :delete %>
                </div>
            <% end %>
            </li>
    <% end %>
</ul>

<div class="posts-nav-b">
  <span><%= paginate @posts %></span>
  <% if current_user %>
  <div id="animated-example" class="animated pulse">
  <div class="button"><%= link_to "Add a new Post", post_new_path %></div>
</div>
<% end %>
</div>