<h1>Liftr</h1>
<h2>The Back Page of the Internet</h2>

<ul class="posts">
    <% @posts.each do |post| %>
        <li class="post">
          <div class="link" id="p1"><a href="<%= post.link %>" target="_blank"><%= post.title %></a>
          <ul class="options">
            <li class="comment-count">
              <% if post.comments.find_by(post_id: post.id) %>
                <% if post.comments.count(post_id: post.id) == 1 %>
                  <%= link_to "1 Comment", comments_path(post) %>
                <% else %>
                 <%= link_to "#{post.comments.count(post_id: post.id)} Comments", comments_path(post) %>
                <% end %>
              <% else %>
              <%= link_to "0 Comments", comments_path(post) %>
              <% end %>
            </li>
            <li class="time-submitted">
              <% user = User.find_by(id: post.user_id) %>
              <span>
                Submitted <%= distance_of_time_in_words post.created_at, DateTime.now %> ago by <%= user.username %>
              </span>
            </li>
            <% if current_user && current_user.posts.find_by(id: post.id) %>
                <li class=edit-post><%= link_to "Edit Post", edit_path(post) %></li>
            <% end %>
            <% if current_user && current_user.posts.find_by(id: post.id) %>
                <li class=delete-post><%= link_to "Delete Post", post_path(post), 
                method: :delete %>
                </li>
            <% end %>
            </li>
          </ul>
        </li>
    <% end %>
</ul>

<% if current_user %>
<div class="posts-nav">
  <%= paginate @posts %>
  <%= link_to "Add a new Post!", post_new_path %>
</div>
<% end %>