<!DOCTYPE html>
<html>
<head>
  <title>Liftr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <link href="http://codegena.com/assets/css/image-preview-for-link.css" rel="stylesheet">     
  <script type="text/javascript">
    $(function() {
                $('#p1 a').miniPreview({ prefetch: 'pageload' });
                $('#p2 a').miniPreview({ prefetch: 'parenthover' });
                $('#p3 a').miniPreview({ prefetch: 'none' });
            });
  </script> <script src="http://codegena.com/assets/js/image-preview-for-link.js"></script>
</head>
<body>
    <nav>
      <div class="reg">
        <% if flash[:notice] %>
            <h2><div class="notice"><%= flash[:notice] %></div></h2>
        <% end %>
        <% if current_user %>
            <h3>Welcome to Liftr, <%= current_user.email %>!</h3>
            <%= link_to "Logout", login_path, method: "delete" %>
        <% else %>
            <%= link_to "Login", login_path %>
            <%= link_to "Sign Up", signup_path %>
        <% end %>
      </div>
      <div class="homebutton">
        <%= link_to "Home", posts_path %>
      </div>
    </nav>

<%= yield %>

</body>
</html>