<!DOCTYPE html>
<html>
<head>
  <title>Liftr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="headbanner">
  <h1> Welcome to Liftr </h1>
  <h2>The Internet's greatest links, ready for lifting!</h2>
  <% if current_user %>
  <h3> You are currently logged in as: <%= current_user.username %>!  </h3>
  <% else %>
  <h3> You are not currently logged in. </h3>
  <% end %>
  </div>

    <nav>
      <% if current_user %>
      <ul class="navmenu">
        <li><%= link_to "Home", posts_path %></li>
        <li><%= link_to "Signout", login_path, method: "delete" %></li>
      </ul>
      <% else %>
      <ul class="navmenu">
        <li><%= link_to "Home", posts_path %></li>
        <li><%= link_to "Login", login_path %></li>
        <li><%= link_to "Sign Up", signup_path %></li>
        <% end %>
    </nav>

<div class="pagecontent">
<%= yield %>
</div>

</body>
</html>